body {
    margin: 0%;
    padding: 0;
    width: 100%;
    height: 60em; 
    background-image: url(img/277538216_171951125183818_7794582882315271968_n.jpg);
    background-size: cover;
}

header {
    display: flex;
    text-align: center;
    color: white;
    flex-direction: column;
    margin-top: 8em;
}


h1 {
    font-family: 'Anton', sans-serif;
    text-transform: capitalize;
    font-size: 6em;
    font-weight: 900;
    margin: 0 auto;
    color: rgba(255, 58, 58, 0.92);
    text-shadow: 0.1em 0.001em  rgba(73, 73, 73, 0.725) ; 
}


h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 auto;
    text-transform: capitalize;
    word-spacing: 0.4em;
    font-weight: 900;
    font-size: 1.8em;
    color: rgba(255, 255, 255, 0.948);
}



h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 auto;
    margin-bottom: 0.8em;
    font-size: 1.3em;
    color: rgba(255, 255, 255, 0.89);
}

.italic {
    font-size: 1.5em;
}


.ticket {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0 auto;
    margin-bottom:0.3em ;
    font-size: 2.5em;
    border-bottom: 4px solid rgba(255, 78, 78, 0.92);
    padding-bottom: 0.01em;  
    color: aliceblue;  
    text-decoration: none;
    text-shadow: 0.1em 0.01em  rgba(90, 90, 90, 0.466) ; 
}

.ticket:hover {
    color: rgb(255, 199, 108); 
    border-bottom: 4px solid rgba(225, 40, 40, 0.892); 
}


.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1.5em;
}


.box {
    width: 15em;
    height: 25em;
    margin-right: 2.3em;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    color: rgb(255, 255, 255);
    border: 3px solid rgba(49, 49, 49, 0.891);
    border-radius: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    background: rgb(0,0,0);
    background: linear-gradient(60deg, rgba(0,0,0,0.7987570028011204) 14%, rgba(0,0,0,0.4066001400560224) 55%, rgba(0,0,0,0.19091386554621848) 100%, rgba(255,255,255,0.14889705882352944) 100%);
}


.box:hover {
    background: rgb(0,0,0);
    background: linear-gradient(77deg, rgba(0,0,0,0.9444152661064426) 0%, rgba(9,4,2,0.7987570028011204) 44%, rgba(9, 2, 7, 0.728) 84%);
}

.wave {
    font-size: 1.5em;
    color: rgba(237, 237, 237, 0.889);
    font-weight: 900 ;
}


.soldout {
    color: rgba(239, 42, 42, 0.976);
    font-weight: 700 ;
    font-size: 2em;
}


.wave2 {
    font-size: 1.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(210, 190, 43);
}

.button {
    font-size: 1.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.button a {
    color: white;
    text-decoration: none;
    font-weight: 600 ;
    font-size: 1em;
    border: 1px solid white;
    background-color:rgba(217, 51, 51, 0.871);
    border-radius: 8px;
    padding: 0.3em 0.5em;
}

.button a:hover {
    background: rgb(0,0,0);
    background: linear-gradient(60deg, rgba(26, 26, 26, 0.591) 16%, rgba(190,28,28,0.6334908963585435) 54%, rgba(255,33,33,0.14889705882352944) 86%);
    background-color: rgb(228, 228, 228);
    border: 1px solid rgba(255, 48, 29, 0.985); 
}


.box3 button{
  margin-bottom: 0.7em;
}


.box3, .box4 {
    background: rgb(0,0,0);
    background: linear-gradient(60deg, rgba(0,0,0,0.8323704481792717) 29%, rgba(0,0,0,0.5578606442577031) 78%, rgba(163,163,163,0.5102415966386555) 100%, rgba(0,0,0,0.19091386554621848) 100%);
}


.box3:hover, .box4:hover {
      background: rgb(0,0,0);
      background: linear-gradient(60deg, rgba(0,0,0,0.8323704481792717) 27%, rgba(255,67,67,0.4822303921568627) 91%, rgba(163,163,163,0.5102415966386555) 100%, rgba(0,0,0,0.19091386554621848) 100%);
    }

.vip {
    text-align: left;
}


h5 {
    font-size: 1.5em;
}

.vip_header {
    margin-bottom: 0.6em;
    color: rgb(210, 190, 43);
}

.box3 .fa-sharp {
    font-size: 3em; 
}

.vip_headersky {
    margin-bottom: 0.6em;   
 }

.box4 .button {
    margin-bottom: 2.8em;
}

.skybox {
    color: rgb(187, 187, 187);
}

.vip {
    margin-top: 2em;
}

.vip1 {
    margin-top: 1em;
    text-align: left;
}

.vip_list {
    margin-bottom: 0;
}

.soldout1 {
    color:rgba(239, 42, 42, 0.976) ;
    font-weight: 700 ;
    font-size: 2em;
    margin-bottom: 2em;
}

.prefooter {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    flex-direction: column;
    text-align: center;
}

.prefooter p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    font-weight: 600;
}


.input {
    background-color: aliceblue;
    width: 15em; 
    height: 3em;
    border-radius: 10px;
    font-size:0.7em;
    margin-right: 0.5em;
    font-weight: 900;
}

.send {
    width: 5em; 
    height: 3em;
    border-radius: 5px;
    background-color:rgb(180, 0, 0) ;
    color: aliceblue;
    border: 1px solid white;
    font-weight: 900;
}

.send:hover {
        background-color: rgba(186, 36, 36, 0.769) ;
}


.socials a {
    color: rgba(255, 255, 255, 0.963) ;
    font-size: 2em;
    margin-right: 0.2em;
}



